@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --background-color: #eef444;
  /* Text colors */
  --text-red: #df2a2a;
  --text-white: #f3f4f6;
  --text-black: #000000;
  /* dimensiones */
  --max-width: 1200px;
}

body {
  background: #d2d2f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lilita One", sans-serif;
  /* border: 1px solid red; */
}

/* .hr {
  border: 2px solid #e11d48;
  background-color: #e11d48;
  max-width: 1200px;
  width: 100%;
} */

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 35px;
  background: var(--background-color);
  height: 100px;
  flex-wrap: wrap;
  border-bottom: solid 2px var(--text-red);
  z-index: 2;
}

.navbar,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nerd {
  width: 70px;
}

.name-nerd {
  width: 180px;
}

.navbar {
  gap: 75px;
}

.navbar-list,
a {
  color: var(--text-black);
  font-size: 25px;
  gap: 70px;
}

.menu-icon {
  width: 55px;
  display: none;
}

#menu-toggle {
  display: none;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nerd {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 200px;
  gap: 20px;
  overflow: hidden;
}

.img-nerd {
  width: 550px;
  border-radius: 10px;
}

.nerd-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nerd-info h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 150px;
  color: var(--text-red);
  text-shadow: 2px 4px black;
}

.nerd-info p {
  text-align: center;
  font-size: 25px;
}

/* boton */

.nerd-info a {
  background: var(--background-color);
  color: var(--text-black);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  border: solid 3px #3a1de1;
}

/* Categorias */

#categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-red);
  /* width: var(--max-width); */
  width: 100%;
  height: 300px;
  /* border-radius: 20px; */
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 200px;
}

.icons i {
  font-size: 90px;
  padding-bottom: 15px;
}

.icons p {
  font-size: 20px;
}

/* discover */

#discover {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.nerd-1,
.nerd-2,
.nerd-3 {
  border: solid 3px #3a1de1;
  background: var(--background-color);
  border-radius: 10px;
  height: 300px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nerd-1 h2,
.nerd-2 h2,
.nerd-3 h2 {
  font-size: 35px;
  color: var(--text-red);
}

.nerd-1 p,
.nerd-2 p .nerd-3 p {
  font-size: 20px;
  text-align: center;
  color: var(--text-black);
}

/* ======= MEDIAQUERIES ========= */

@media (max-width: 992px) {
  #nerd {
    flex-direction: column;
  }

  .menu-icon {
    width: 55px;
  }

  .nerd-info {
    width: 50%;
    gap: 20px;
  }

  #discover {
    flex-direction: column;
  }

  .navbar-list {
    width: 100%;
    height: calc(50vh - 80px);
    position: absolute;
    top: 90px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked ~ .navbar-list {
    display: flex;
  }
}
